//baseWidth
$baseWidth:940px;
$mainFonts : "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;;
$fontButton: source-han-sans-japanese, sans-serif;
$fontTitle : Bahnschrift ;
$mb31      : a-otf-midashi-go-mb31-pr6n, sans-serif;
$mont      : montserrat, sans-serif;
//color common
$red:       #e70012;
$white:     #ffffff;
$whiteSmoke:#faf8f2;
$whiteSmoke2:#e9e6db;
$blue:      #0087e8;
$green:     #24cc14;
$orange:    #e86100;
$pink:      #e80087;
$nightRider:#333333;
$grey :     #838383;
$purple:    #6100e8;
