-
    var meta = {
        common: {
            cssPath: [
                "/css/style.css",
            ],
            jsFiles:[
                "/js/jquery.min.js",
                "/js/common.js"
            ]
        },
        top: {
            id: "top",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:["/js/swiper.min.js","/js/slick.min.js","/js/top.js"],
            cssFiles:["/css/swiper.min.css","/css/slick-theme.css","/css/slick.css","/css/top.css"],
            pageName: "Top",
            keywords: "",
            description: ""
        },
        news: {
            id: "news",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:["/css/news.css"],
            pageName: "News",
            keywords: "",
            description: ""
        },
        news_list: {
            id: "news_list",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:["/css/news.css"],
            pageName: "お知らせ一覧",
            keywords: "",
            description: ""
        },
        privacy_policy: {
            id: "privacy_policy",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:"",
            pageName: "プライバシーポリシー",
            keywords: "",
            description: ""
        },
        registration: {
            id: "registration",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:["/css/registration.css"],
            pageName: "登録・資格",
            keywords: "",
            description: ""
        },
        members: {
            id: "members",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:["/css/members.css"],
            pageName: "会員・スポンサー",
            keywords: "",
            description: ""
        },
        charm: {
            id: "charm",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:["/css/know_padel.css"],
            pageName: "魅力",
            keywords: "",
            description: ""
        },
        rule: {
            id: "rule",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:["/css/know_padel.css"],
            pageName: "ルール",
            keywords: "",
            description: ""
        },
        shot: {
            id: "rule",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:["/css/know_padel.css"],
            pageName: "ショット",
            keywords: "",
            description: ""
        },
        let_padel: {
            id: "let_padel",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:"",
            pageName: "パデルをしよう",
            keywords: "",
            description: ""
        },
        coat_list: {
            id: "coat_list",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:["/css/coat_list.css"],
            pageName: "コート一覧",
            keywords: "",
            description: ""
        },
        about_jpa: {
            id: "about_jpa",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:["/css/about_jpa.css"],
            pageName: "JPAについて",
            keywords: "",
            description: ""
        },
        competition: {
            id: "about_jpa",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:["/css/competition.css"],
            pageName: "大会に出てみよう",
            keywords: "",
            description: ""
        },
        contact_us: {
            id: "contact_us",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:["/css/contact.css"],
            pageName: "お問い合わせ",
            keywords: "",
            description: ""
        },
        contact_confirm: {
            id: " contact_confirm:",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:["/css/contact.css"],
            pageName: "入力内容確認",
            keywords: "",
            description: ""
        },
        contact_complete: {
            id: " contact_compelte:",
            dir: "/",
            assetsPath: "./assets",
            jsFiles:"",
            cssFiles:["/css/contact.css"],
            pageName: "送信完了",
            keywords: "",
            description: ""
        },

    }
