@import '0_base/vars';
@import '0_base/mixin';
/*------------------------------------------------------------
Css of contact pages
------------------------------------------------------------*/
.c-contact{
    &--confirm{
        .c-btn-bottom{
            .c-btn--01{
                margin: 0;
                @include breakpoint(sp) {
                    width: calc(50% - 10px);
                }
            }
        }
    }
    &__list{
        margin-top: 50px;
        .text{
            margin-top: 30px;
        }
        .c-table--01{
            @include breakpoint(sp) {
                margin-top: 30px;
            }
            tr{
                @include breakpoint(sp) {
                    margin-top: 0;
                }
                &:last-child{
                    td{
                        vertical-align: top;
                    }
                }
            }
            td{
                vertical-align: middle;
                &:first-child{
                    font-weight: bold;
                    width: 220px;
                    background-color: $whiteSmoke2;
                    @include breakpoint(sp) {
                        width: 100%;
                        padding: 9px 10px;
                    }
                }
                p{
                    display: flex;
                    span{
                        width: 35px;
                    }
                }
            }
        }
    }
    .c-btn-bottom{
        display: flex;
        justify-content: space-between;
        width: 420px;
        margin: auto auto;
        margin-top: 30px;
        text-align: center;
        @include breakpoint(sp) {
            width: 100%;
        }
    }
    .c-btn--01{
        width: 200px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        cursor: pointer;
        background-color: $white;
        margin: 0 auto;
        border-radius: 0;
        &.red{
            background-color: $red;
            border-color:$red;
            color:$white;
            &:hover{
                background-color: $red;
                border-color:$red;
                color:$white;
            }
        }
        &:hover{
            background-color: $red;
            color:$white
        }
        &:after, &:before{
            display: none;
        }
    }
}