@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 1.3rem;
  min-width: 980px;
  color: #333333;
  font-weight: 500;
  height: 100%;
  line-height: 1.7;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 100%;
    overflow-x: hidden;
  }
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*------------------------------------------------------------
 Header
------------------------------------------------------------*/
.c-header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
  background: rgba(255, 255, 255, 0.6);
}

.c-header .logo img {
  width: 85px;
}

@media only screen and (max-width: 767px) {
  .c-header {
    position: fixed;
    background-color: #ffffff;
    padding: 0;
  }
  .c-header .l-container {
    padding: 0;
  }
  .c-header.bg {
    background-color: #e70012 !important;
    height: 100%;
  }
  .c-header.bg .c-nav {
    background-color: #ffffff;
  }
}

@-webkit-keyframes slide_down_menu {
  0% {
    top: -60px;
  }
  100% {
    top: 0px;
  }
}

@keyframes slide_down_menu {
  0% {
    top: -60px;
  }
  100% {
    top: 0px;
  }
}

.c-toggle {
  width: 30px;
  height: 20px;
  position: relative;
  right: 5px;
}

.c-toggle .menu-item {
  background-color: #e70012;
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
}

.c-toggle .menu-item:first-child {
  top: 0;
}

.c-toggle .menu-item:nth-child(2) {
  top: 9px;
}

.c-toggle .menu-item:nth-child(3) {
  bottom: 0;
}

.c-toggle.open .menu-item:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10px 50%;
          transform-origin: 10px 50%;
  top: 5px;
  left: 2px;
}

.c-toggle.open .menu-item:nth-child(2) {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  opacity: 0;
}

.c-toggle.open .menu-item:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 8px 50%;
          transform-origin: 8px 50%;
  bottom: 4px;
  left: 3px;
}

.c-toggle--close {
  position: absolute;
  display: none;
  right: 20px;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
  background-color: #faf8f2;
  padding-top: 58px;
  margin-top: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .c-footer {
    padding-top: 30px;
  }
}

.c-footer .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .c-footer .d-flex {
    display: block;
  }
}

.c-footer .c-title {
  font-family: montserrat, sans-serif;
}

.c-footer .c-title--01 {
  font-size: 1.5rem;
}

.c-footer .c-title--01 span:after {
  bottom: -11px;
}

.c-footer .c-title--01:after {
  display: none;
}

.c-footer .c-sns .c-icon__link {
  width: 300px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .c-footer .c-sns .c-icon__link {
    width: 100%;
  }
}

.c-footer .c-menu-footer {
  width: 555px;
}

@media only screen and (max-width: 767px) {
  .c-footer .c-menu-footer {
    width: 100%;
    margin-top: 55px;
  }
}

.c-footer .c-menu-footer ul {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 26px;
  *zoom: 1;
}

.c-footer .c-menu-footer ul:after {
  display: block;
  content: "";
  clear: both;
}

.c-footer .c-menu-footer ul li {
  float: left;
  width: 120px;
  white-space: nowrap;
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  .c-footer .c-menu-footer ul li {
    width: 50%;
  }
  .c-footer .c-menu-footer ul li:nth-child(even) {
    padding-left: 10%;
  }
}

.c-footer .c-menu-footer ul li:nth-child(4n+1) {
  clear: left;
  margin-left: 0;
}

.c-footer .c-menu-footer ul li:nth-child(5), .c-footer .c-menu-footer ul li:first-child {
  width: 110px;
}

@media only screen and (max-width: 767px) {
  .c-footer .c-menu-footer ul li:nth-child(5), .c-footer .c-menu-footer ul li:first-child {
    width: 50%;
  }
}

.c-footer .c-menu-footer ul li:nth-child(3), .c-footer .c-menu-footer ul li:nth-child(7) {
  margin-right: 47px;
}

@media only screen and (max-width: 767px) {
  .c-footer .c-menu-footer ul li:nth-child(3), .c-footer .c-menu-footer ul li:nth-child(7) {
    margin-right: 0;
  }
}

.c-footer .c-menu-footer ul li:nth-child(2), .c-footer .c-menu-footer ul li:nth-child(6) {
  margin-left: 10px;
}

@media only screen and (max-width: 767px) {
  .c-footer .c-menu-footer ul li:nth-child(2), .c-footer .c-menu-footer ul li:nth-child(6) {
    margin-left: 0;
  }
}

.c-footer .c-menu-footer ul a {
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.c-footer .c-menu-footer ul a:hover {
  color: #e70012;
}

.c-footer .c-copyright {
  text-align: center;
  font-size: 1rem;
  font-family: montserrat, sans-serif;
  border-top: 1px solid #e9e6db;
  padding: 30px 0;
  margin-top: 45px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 767px) {
  .c-footer .c-copyright {
    margin-top: 40px;
  }
}

/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumbs {
  margin-top: 80px;
  background-color: #e70012;
}

@media only screen and (max-width: 767px) {
  .c-breadcrumbs {
    margin-top: 60px;
  }
}

.c-breadcrumbs .breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 0;
  color: #ffffff;
}

.c-breadcrumbs .breadcrumb a {
  text-decoration: underline;
  text-underline-position: under;
  font-weight: normal;
}

.c-breadcrumbs .breadcrumb__item a:after {
  content: ">";
  display: inline-block;
  margin: 0 12px;
}

.c-breadcrumbs .breadcrumb li {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}

.c-breadcrumbs .breadcrumb li:last-child {
  position: relative;
}

.c-breadcrumbs .breadcrumb li:last-child:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 16px solid #e70012;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  bottom: -23px;
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .c-breadcrumbs .breadcrumb li:last-child:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #e70012;
    bottom: -20px;
  }
}

/* layout
------------------------------------------------------------*/
.l-wrapper {
  position: relative;
  min-height: 100%;
}

.l-container {
  width: 940px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .l-container {
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .isOverflow {
    overflow: hidden;
  }
}

main {
  margin-top: 53px;
  padding-bottom: 375px;
}

@media only screen and (max-width: 767px) {
  main {
    margin-top: 33px;
    padding-bottom: 530px;
  }
}

/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn--01 {
  font-size: 1.6rem;
  width: 300px;
  height: 75px;
  display: block;
  text-align: center;
  font-weight: 600;
  border: solid 1px #838383;
  margin: 0 auto;
  line-height: 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  letter-spacing: 2px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

@media only screen and (max-width: 767px) {
  .c-btn--01 {
    width: 240px;
    height: 60px;
    line-height: 60px;
  }
}

.c-btn--01:hover {
  background-color: #e70012;
  border: solid 1px #e70012;
  color: #ffffff;
}

.c-btn--01:hover:after {
  right: -55px;
}

@media only screen and (max-width: 767px) {
  .c-btn--01:hover:after {
    right: -24px;
  }
}

.c-btn--01:hover:before {
  right: -45px;
}

@media only screen and (max-width: 767px) {
  .c-btn--01:hover:before {
    right: -20px;
  }
}

.c-btn--01:before, .c-btn--01:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 1px;
  margin: auto 0;
  background-color: #333333;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.c-btn--01:after {
  top: 2px;
  right: -44px;
  width: 20px;
  -webkit-transform: rotate(-150deg) translateX(-0.5em) translateY(0.45em);
          transform: rotate(-150deg) translateX(-0.5em) translateY(0.45em);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

@media only screen and (max-width: 767px) {
  .c-btn--01:after {
    width: 15px;
    right: -24px;
  }
}

.c-btn--01:before {
  width: 70px;
  top: 0;
  right: -35px;
}

@media only screen and (max-width: 767px) {
  .c-btn--01:before {
    width: 40px;
    right: -20px;
  }
}

.c-btn--02 {
  font-family: montserrat, sans-serif;
  font-size: 1.1rem;
  color: #ffffff;
  background-color: #e70012;
  width: 130px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  display: block;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-title--01 {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-size: 2.4rem;
  position: relative;
  letter-spacing: 3px;
}

.c-title--01 span {
  position: relative;
}

.c-title--01 span:after {
  content: '';
  height: 3px;
  width: 100%;
  background-color: #e70012;
  position: absolute;
  left: 0;
  bottom: -7px;
  z-index: 1;
}

.c-title--01 span.blue:after {
  background-color: #0087e8;
}

.c-title--01 span.green:after {
  background-color: #24cc14;
}

.c-title--01 span.orange:after {
  background-color: #e86100;
}

.c-title--01 span.pink:after {
  background-color: #e80087;
}

.c-title--01 span.purple:after {
  background-color: #6100e8;
}

.c-title--01:after {
  content: '';
  height: 3px;
  width: 100%;
  background-color: #faf8f2;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.c-title--02 {
  font-size: 2.5rem;
  font-family: montserrat, sans-serif;
}

.c-title--03 {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  display: table;
  position: relative;
  margin: 0 auto;
}

.c-title--03 .border {
  position: relative;
}

.c-title--03 .border:after {
  content: '';
  position: absolute;
  height: 6px;
  width: 100%;
  left: 0;
  bottom: -5px;
  background-color: #e9e6db;
}

.c-title--03:before, .c-title--03:after {
  content: '';
  height: 15px;
  width: 2px;
  position: absolute;
  background-color: #333333;
}

.c-title--03:before {
  left: -7px;
  top: 5px;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.c-title--03:after {
  right: -8px;
  top: 5px;
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
}

.c-title--04 {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-size: 2rem;
  display: inline-block;
  border: solid 2px #333333;
  padding: 1px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 30px;
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
.c-icon__link a {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 2.5rem;
}

@media only screen and (max-width: 767px) {
  .c-icon__link a {
    width: 35px;
    height: 35px;
    font-size: 1.8rem;
  }
}

.c-icon__link a.tw {
  background-color: #1da1f2;
}

.c-icon__link a.fb {
  background-color: #3c5a99;
}

.c-icon__link a.ins {
  background-color: #e1306c;
}

.c-icon__link a.ins .st0 {
  fill: #ffffff !important;
}

.c-icon__link a.ins svg {
  width: 20px !important;
  height: 20px !important;
}

.c-icon__link a.yt {
  background-color: #da1725;
}

.c-icon__link a img {
  height: 44px;
}

@media only screen and (max-width: 767px) {
  .c-icon__link a img {
    height: 35px;
  }
}

/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
form input {
  width: 400px;
  border: none;
  border-radius: 0;
  height: 35px;
  font-size: 1.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px #e9e6db;
  padding: 0 10px;
  background-color: #ffffff;
}

@media only screen and (max-width: 767px) {
  form input {
    width: 100%;
  }
}

form textarea {
  resize: none;
  width: 600px;
  height: 290px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 1.4rem;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border: solid 1px #e9e6db;
  color: #333333;
  background-color: #ffffff;
}

@media only screen and (max-width: 767px) {
  form textarea {
    width: 100%;
    height: 100px;
  }
}

form ::-webkit-input-placeholder {
  /* Edge */
  color: #cccccc;
}

form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cccccc;
}

form ::-ms-input-placeholder {
  color: #cccccc;
}

form ::placeholder {
  color: #cccccc;
}

/*------------------------------------------------------------
text
------------------------------------------------------------*/
p.text1 {
  margin-top: 43px;
  letter-spacing: 0.1rem;
  line-height: 2;
}

@media only screen and (max-width: 767px) {
  p.text1 {
    line-height: 1.8;
    letter-spacing: 0;
    margin-top: 45px;
  }
}

/*------------------------------------------------------------
navi
------------------------------------------------------------*/
.c-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .c-nav {
    padding: 10px 15px;
    background-color: #ffffff;
  }
}

.c-nav ul {
  width: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
}

@media only screen and (max-width: 767px) {
  .c-nav ul {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    display: none;
    z-index: 10;
    text-align: center;
  }
  .c-nav ul.sub-menu {
    max-height: calc(100vh - 100px);
    padding-bottom: 50px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .c-nav ul.show {
    display: block;
  }
}

.c-nav ul li {
  display: inline-block;
  position: relative;
  padding: 28.5px 0;
}

@media only screen and (max-width: 767px) {
  .c-nav ul li {
    display: block;
    width: 100%;
    padding: 0;
  }
}

.c-nav ul li .child_menu_button {
  width: 55px;
  height: 55px;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
}

@media only screen and (min-width: 768px) {
  .c-nav ul li .child_menu_button {
    display: none !important;
  }
}

.c-nav ul li .child_menu_button .icon:after {
  content: "\f107";
  font-family: FontAwesome;
  color: #ffffff;
  font-size: 2.5rem;
}

.c-nav ul li .child_menu_button--close .icon:after {
  content: "\f106";
}

.c-nav ul li a {
  display: block;
  font-size: 1.4rem;
  letter-spacing: 0.06rem;
  color: #333333;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.c-nav ul li a:hover {
  color: #e70012;
}

@media only screen and (max-width: 767px) {
  .c-nav ul li a:hover {
    color: #ffffff !important;
  }
}

@media only screen and (max-width: 767px) {
  .c-nav ul li a {
    font-size: 1.8rem;
    text-shadow: none;
    padding: 13px 0;
    color: #ffffff !important;
  }
}

.c-nav ul li:hover ul {
  visibility: initial;
}

@media only screen and (min-width: 768px) {
  .c-nav ul li:hover ul {
    display: block !important;
  }
}

.c-nav ul li ul {
  position: absolute;
  width: 100%;
  min-width: 240px;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.8);
  left: -22px;
  top: 80px;
  visibility: hidden;
  -webkit-transition: 0.5ms;
  transition: 0.5ms;
  display: block;
}

@media only screen and (max-width: 767px) {
  .c-nav ul li ul {
    position: static;
    visibility: initial;
    display: none;
    background-color: transparent !important;
    -webkit-transition: none;
    transition: none;
    padding: 0;
  }
}

.c-nav ul li ul li {
  display: block;
  padding: 0;
}

.c-nav ul li ul li:first-child {
  margin-top: -25px;
}

@media only screen and (max-width: 767px) {
  .c-nav ul li ul li:first-child {
    margin-top: 0;
  }
}

.c-nav ul li ul li a {
  padding: 8px 0;
}

/*------------------------------------------------------------
img
------------------------------------------------------------*/
.img-bg {
  background-size: cover;
  background-repeat: no-repeat;
}

/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-table--01 {
  border: 1px solid #ffffff;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 30px;
}

@media only screen and (max-width: 767px) {
  .c-table--01 {
    display: block;
    margin-top: 10px;
  }
  .c-table--01 tbody {
    display: block;
  }
}

.c-table--01 th, .c-table--01 td {
  text-align: left;
  border-bottom: 1px solid #ffffff;
  padding: 20px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.7;
  border-left: 1px solid #ffffff;
}

@media only screen and (max-width: 767px) {
  .c-table--01 th, .c-table--01 td {
    display: block;
    border: none;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 767px) {
  .c-table--01 tr.t-pc {
    display: none;
  }
}

.c-table--01 tr .t-sp {
  display: none;
}

@media only screen and (max-width: 767px) {
  .c-table--01 tr .t-sp {
    display: block;
    padding: 9px 10px;
  }
}

@media only screen and (max-width: 767px) {
  .c-table--01 tr {
    width: 100%;
    display: block;
    margin-top: 20px;
  }
}

.c-table--01 th {
  background-color: #e9e6db;
}

@media only screen and (max-width: 767px) {
  .c-table--01 th {
    width: 100%;
  }
}

.c-table--01 td {
  background-color: #faf8f2;
  width: 220px;
  vertical-align: top;
}

@media only screen and (max-width: 767px) {
  .c-table--01 td {
    width: 100%;
  }
  .c-table--01 td:nth-child(2) {
    padding-top: 10px;
  }
}

.c-table--01 td:last-child {
  width: auto;
}

@media only screen and (max-width: 767px) {
  .c-table--01 td:last-child {
    padding-bottom: 10px;
  }
}

/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
post
------------------------------------------------------------*/
.c-post--01 {
  margin-top: 40px;
}

.c-post--01__items {
  display: block;
  *zoom: 1;
  margin-top: 20px;
}

.c-post--01__items:after {
  display: block;
  content: "";
  clear: both;
}

@media only screen and (max-width: 767px) {
  .c-post--01__items {
    margin-top: 30px;
  }
}

.c-post--01__items:first-child {
  margin-top: 0;
}

.c-post--01__items__img {
  width: 220px;
  float: left;
  position: relative;
}

.c-post--01__items__img .status {
  font-size: 1.1rem;
  font-family: montserrat, sans-serif;
  position: absolute;
  color: #ffffff;
  background-color: #e70012;
  width: 65px;
  padding: 1px 0;
  top: 0;
  left: 0;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .c-post--01__items__img {
    width: calc(50% - 5px);
  }
}

.c-post--01__items__img img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .c-post--01__items__img img {
    height: 132px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.c-post--01__items__list {
  width: 700px;
  float: right;
  letter-spacing: 1.5px;
}

@media only screen and (max-width: 767px) {
  .c-post--01__items__list {
    width: calc(50% - 5px);
  }
}

.c-post--01__items__list .text-top {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.c-post--01__items__list .text-top label {
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  font-weight: 600;
  padding: 0 10.5px;
}

.c-post--01__items__list .text-top label.blue {
  background-color: #0087e8;
}

.c-post--01__items__list .text-top label.green {
  background-color: #24cc14;
}

.c-post--01__items__list .text-top label.orange {
  background-color: #e86100;
}

.c-post--01__items__list .text-top .date {
  display: inline-block;
  vertical-align: middle;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  margin-left: 4px;
}

.c-post--01__items__list .title {
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: underline;
  text-underline-position: under;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .c-post--01__items__list .title {
    margin-bottom: 0;
  }
}

.c-post--01__items__text {
  width: 700px;
  float: right;
  line-height: 22px;
  text-decoration: underline;
  text-underline-position: under;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 45px;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .c-post--01__items__text {
    width: 100%;
    margin-top: 10px;
  }
}

.c-post--02 {
  margin-top: 30px;
}

.c-post--02__items {
  margin-top: 60px;
}

@media only screen and (max-width: 767px) {
  .c-post--02__items {
    margin-top: 30px;
  }
}

.c-post--02 .c-list {
  margin-top: 60px;
  *zoom: 1;
}

@media only screen and (max-width: 767px) {
  .c-post--02 .c-list {
    margin-top: 30px;
  }
}

.c-post--02 .c-list:nth-child(2) {
  margin-top: 25px;
}

.c-post--02 .c-list:after {
  display: block;
  content: "";
  clear: both;
}

.c-post--02 .c-list p {
  margin-bottom: 25px;
  text-align: justify;
}

@media only screen and (max-width: 767px) {
  .c-post--02 .c-list p {
    width: 100%;
  }
  .c-post--02 .c-list p:last-child {
    margin-bottom: 0;
  }
}

.c-post--02 .c-list img {
  width: calc(50% - 9px);
}

@media only screen and (max-width: 767px) {
  .c-post--02 .c-list img {
    width: 100%;
    margin-bottom: 25px;
  }
}

.c-post--02 .c-list__text {
  width: calc(50% - 9px);
}

@media only screen and (max-width: 767px) {
  .c-post--02 .c-list__text {
    width: 100%;
  }
}

.c-post--02 .c-list__text__title {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  .c-post--02 .c-list__text__title {
    font-size: 1.4rem;
  }
}

.c-post--02 .c-list--left img {
  float: left;
}

@media only screen and (max-width: 767px) {
  .c-post--02 .c-list--left img {
    float: none;
  }
}

.c-post--02 .c-list--left .c-list__text {
  float: right;
}

@media only screen and (max-width: 767px) {
  .c-post--02 .c-list--left .c-list__text {
    float: none;
  }
}

.c-post--02 .c-list--right img {
  float: right;
}

@media only screen and (max-width: 767px) {
  .c-post--02 .c-list--right img {
    float: none;
  }
}

.c-post--02 .c-list--right .c-list__text {
  float: left;
}

@media only screen and (max-width: 767px) {
  .c-post--02 .c-list--right .c-list__text {
    float: none;
  }
}

.c-post--02 .c-list.w-add {
  padding: 0 80px;
}

@media only screen and (max-width: 767px) {
  .c-post--02 .c-list.w-add {
    padding: 0;
  }
  .c-post--02 .c-list.w-add .w-ad2 {
    *zoom: 1;
  }
  .c-post--02 .c-list.w-add .w-ad2:after {
    display: block;
    content: "";
    clear: both;
  }
  .c-post--02 .c-list.w-add .w-ad2 p {
    float: left;
    width: calc(50% - 6px);
  }
}

.c-post--02 .c-list.w-add img {
  width: auto;
}

@media only screen and (max-width: 767px) {
  .c-post--02 .c-list.w-add img {
    width: calc(50% - 6px);
    float: right;
    margin-bottom: 20px;
  }
}

.c-post--02 .c-list.w-add .c-list__text {
  width: 465px;
}

@media only screen and (max-width: 767px) {
  .c-post--02 .c-list.w-add .c-list__text {
    float: none;
    width: 100%;
  }
}

/*------------------------------------------------------------
Backtop
------------------------------------------------------------*/
.c-back-to-top {
  height: 60px;
  width: 60px;
  background: #e70012;
  cursor: pointer;
  position: fixed;
  border-radius: 50%;
  right: 20px;
  z-index: 10;
  bottom: 20px;
  font-size: 4rem;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.c-back-to-top span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.c-back-to-top:hover {
  opacity: .8;
}

@media only screen and (max-width: 767px) {
  .c-back-to-top {
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    font-size: 3rem;
  }
}

/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
main visual
------------------------------------------------------------*/
.c-main-visual {
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .c-main-visual {
    margin-top: 60px;
  }
}

.c-main-visual__text {
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.c-main-visual__text img {
  width: 556px;
}

@media only screen and (max-width: 767px) {
  .c-main-visual__text {
    width: 300px;
    top: auto;
    bottom: 27px;
  }
  .c-main-visual__text img {
    width: 100%;
  }
}

.c-main-visual__slider {
  height: 100% !important;
}

.c-main-visual__slider .slick-list, .c-main-visual__slider .slick-track {
  height: 100%;
}

.c-main-visual__slider__photo {
  height: 100% !important;
}

@media only screen and (max-width: 767px) {
  .c-main-visual__slider__photo:nth-child(odd) .c-main-visual__slider__inner img {
    left: 100%;
  }
  .c-main-visual__slider__photo:nth-child(even) .c-main-visual__slider__inner img {
    left: 0;
  }
  .c-main-visual__slider__photo.is-moving:nth-child(odd) .c-main-visual__slider__inner img {
    left: 0;
  }
  .c-main-visual__slider__photo.is-moving:nth-child(even) .c-main-visual__slider__inner img {
    left: 100%;
  }
}

.c-main-visual__slider__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-main-visual__slider__inner {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-main-visual__slider__inner img {
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: auto;
    max-width: none;
    -webkit-transition: left 7s linear;
    transition: left 7s linear;
  }
}

.c-main-visual__slider .slick-dots {
  bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .c-main-visual__slider .slick-dots {
    bottom: 8px;
  }
}

.c-main-visual__slider .slick-dots li, .c-main-visual__slider .slick-dots button {
  height: 12px;
  width: 12px;
  margin: 0 10px;
}

.c-main-visual__slider .slick-dots li:before, .c-main-visual__slider .slick-dots button:before {
  content: '';
  height: 12px;
  background: transparent;
  border: solid 1px #ffffff;
  border-radius: 50%;
  width: 12px;
  opacity: 1;
  display: block;
}

.c-main-visual__slider .slick-dots .slick-active:before {
  background: #ffffff;
}

.c-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.c-pagination li {
  font-size: 1.6rem;
  margin: 0 7px;
}

.c-pagination li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px #333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  width: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-pagination li a:hover, .c-pagination li a.active {
  background-color: #e70012;
  border-color: #e70012;
  color: #ffffff;
}

.c-pagination li a.prev, .c-pagination li a.next {
  border: none;
}

.c-pagination li a.prev i, .c-pagination li a.next i {
  font-size: 5rem;
}

.c-pagination li a.prev:hover, .c-pagination li a.next:hover {
  background-color: transparent;
  color: #333333;
}

.c-link {
  display: block;
  text-decoration: underline;
  text-underline-position: under;
}

.c-link--02 {
  display: inline-block;
}

.c-link:hover {
  text-decoration: none;
  color: #e70012;
}

.c-dl--01 {
  margin-top: 25px;
}

.c-dl--01 dt {
  font-weight: bold;
}

.c-dl--01 dd {
  margin-top: 10px;
}

.c-sponsors {
  margin-top: 53px;
}

@media only screen and (max-width: 767px) {
  .c-sponsors .c-title {
    margin-bottom: 20px;
  }
}

.c-sponsors__item {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  margin-top: 40px;
}

@media only screen and (max-width: 767px) {
  .c-sponsors__item {
    margin-top: 32px;
  }
}

.c-sponsors__item:nth-child(3) {
  margin-top: 7px;
}

@media only screen and (max-width: 767px) {
  .c-sponsors__item:nth-child(3) {
    margin-top: 16px;
  }
  .c-sponsors__item:nth-child(3) .child:last-child img {
    margin-top: -6px;
  }
}

.c-sponsors__item:nth-child(4) {
  margin-top: 4px;
}

@media only screen and (max-width: 767px) {
  .c-sponsors__item:nth-child(4) {
    margin-top: 11px;
  }
}

.c-sponsors__item:nth-child(5) {
  margin-top: 1px;
}

@media only screen and (max-width: 767px) {
  .c-sponsors__item:nth-child(5) {
    margin-top: 19px;
  }
}

.c-sponsors__item:nth-child(6) {
  margin-top: 11px;
}

.c-sponsors__item:nth-child(6) .title {
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .c-sponsors__item:nth-child(6) .title {
    margin-bottom: 17px;
  }
}

.c-sponsors__item .logo-sponsor {
  display: block;
  position: relative;
}

.c-sponsors__item .box {
  *zoom: 1;
}

.c-sponsors__item .box:after {
  display: block;
  content: "";
  clear: both;
}

.c-sponsors__item .child {
  float: left;
  margin-left: 20px;
  margin-bottom: 23px;
}

@media only screen and (max-width: 767px) {
  .c-sponsors__item .child {
    width: 50%;
    margin: 8px 0 0 0;
  }
  .c-sponsors__item .child:nth-child(2n+1) {
    clear: left;
  }
  .c-sponsors__item .child img {
    width: 100%;
  }
}

.c-sponsors__item .child:nth-child(4n+1) {
  clear: left;
  margin-left: 0;
}

.c-sponsors__item .title {
  color: #ffffff;
  background-color: #333333;
  padding: 1.5px 9px;
  font-size: 1.8rem;
  display: inline-block;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  .c-sponsors__item .title {
    white-space: normal;
    font-size: 1.3rem;
    top: -35px;
    white-space: nowrap;
  }
}

.c-link-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .c-link-top {
    display: block;
    margin-top: 40px;
  }
}

.c-link-top li {
  position: relative;
  padding-right: 40px;
}

@media only screen and (max-width: 767px) {
  .c-link-top li {
    display: inline-block;
  }
}

.c-link-top li:after {
  content: '/';
  position: absolute;
  right: 20px;
}

.c-link-top li:last-child {
  padding-right: 0;
}

.c-link-top li:last-child:after {
  display: none;
}

.c-link-top a {
  text-decoration: underline;
  text-underline-position: under;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.c-link-top a:hover {
  text-decoration: none;
  color: #e70012;
}

.c-youtube {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  background-color: #faf8f2;
}

@media only screen and (max-width: 767px) {
  .c-youtube {
    padding: 10px;
  }
}

.c-youtube img {
  width: 100%;
}

.c-list-type li {
  position: relative;
  padding-left: 15px;
}

.c-list-type li:before {
  content: '・';
  position: absolute;
  left: 0;
  top: 0;
}
/*# sourceMappingURL=style.css.map */