//header
header.c-header
  .l-container
    nav.c-nav
      h1.logo
        a(href='./')
          img(src='./assets/images/logo.png' alt='JPA')
      .c-toggle.c-toggle--open.sp-only
        span.menu-item
        span.menu-item
        span.menu-item
      .c-toggle.c-toggle--close
      ul.sub-menu
        li
          a(href='./news.html') NEWS
        li.icon-sub
          a(href='./charm.html') パデルを知る
          ul
            li
              a(href="./charm.html") 魅力
            li
              a(href="./rule.html") ルール
            li
              a(href="./shot.html") ショット
        li
          a(href='./let_padel.html') パデルをしよう
        li
          a(href='./competition.html') 大会に出てみよう
        li
          a(href='./coat_list.html') コート一覧
        li
          a(href='./about_jpa.html') JPAについて
        li
          a(href='./contact.html') お問い合わせ
//end header