- const pageID = "registration";
doctype html
html(lang="ja")

  include _includes/_head.pug
  body
    .l-wrapper
        include _includes/_header.pug
        //breadcrumbs
        include _includes/_breadcrumbs.pug
        +breadcrumbs(['ホーム ' ],'登録・資格')
        main
            //c-registration
            section.c-registration
                .l-container
                    h2.c-title.c-title--01 #[span 登録・資格]
                    .item
                        h3.c-title.c-title--04 選手登録
                        p パデルプレーヤーズシステムへの登録方法は
                            a(href="https://players.japanpadel.com/pdf/entry_flow.pdf" target="_blank") こちら
                    .item
                        h3.c-title.c-title--04 選手サポート状況
                        p 下記のフォームに選手の契約・サポート内容をご記入ください。選手１名につき１フォームを利用してください。
                        a(href="https://docs.google.com/forms/d/1Afc9uGiAbIayK_jkTb5x2f1jOTsIivREd9nrPvK0yaU/edit" target="_blank") https://docs.google.com/forms/d/1Afc9uGiAbIayK_jkTb5x2f1jOTsIivREd9nrPvK0yaU/edit
                    .item
                        h3.c-title.c-title--04 メディア掲載情報連携
                        p JPA登録選手としてまた日本代表選手として、パデルの広報活動を行う場合にはJPAまでご連絡ください。
                        a(href="https://docs.google.com/forms/d/e/1FAIpQLSfzycjbyKpHwsBwImnHjtkFkOrdaqufrfjHADdawB-o_1vZlQ/viewform" target="_blank") https://docs.google.com/forms/d/e/1FAIpQLSfzycjbyKpHwsBwImnHjtkFkOrdaqufrfjHADdawB-o_1vZlQ/viewform
                    .item
                        h3.c-title.c-title--04 正会員
                    .item
                        h3.c-title.c-title--04 コーチ資格
                        table.c-table.c-table--01
                            tr.t-pc
                                th 開催日
                                th 場所
                                th 資格コース
                            tr
                                th.t-sp 開催日／場所／資格コース
                                td 2019年9月7日
                                td パデル千葉
                                td
                                    a.c-link(href="https://www.dropbox.com/s/2c3sj0xb83wz6w7/%E3%82%B3%E3%83%BC%E3%83%81%E7%A0%94%E4%BF%AE201908a.pdf?dl=0&fbclid=IwAR03HAefD-OBdFIBVOLyCxPcjHtfV-Y-kzj_CbsSG13AZrX0k81iVXRplIo" target="_blank") （社）日本パデル協会「d級コーチ養成資格」
                            tr
                                th.t-sp 開催日／場所／資格コース
                                td 2018年7月21日～7月22日
                                td 京都パデル
                                td
                                    a.c-link(href="https://www.facebook.com/events/618104578553576/" target="_blank") （社）日本パデル協会「d級コーチ養成資格」
                            tr
                                th.t-sp 開催日／場所／資格コース
                                td 2018年6月20日～7月1日
                                td パデル東京
                                td
                                    a.c-link(href="https://www.facebook.com/events/1628008297306355/" target="_blank") （社）日本パデル協会「d級コーチ養成資格」
                            tr
                                th.t-sp 開催日／場所／資格コース
                                td 2017年6月20日～6月22日
                                td パデル東京
                                td
                                    a.c-link(href="https://www.dropbox.com/s/ev24atmzay8nsr3/C%E7%B4%9A%E3%82%B3%E3%83%BC%E3%83%81%E9%A4%8A%E6%88%90%E8%B3%87%E6%A0%BC%E8%AC%9B%E7%BF%92%E4%BC%9A20170620.pdf?dl=0" target="_blank") （社）日本パデル協会「C級コーチ養成資格」
                    .item
                        h3.c-title.c-title--04 審判資格
            //end c-registration
        include _includes/_footer.pug
    //js
    each items in pagesJsFiles
      script(src=assetsPath + items)


